hr {
  margin-bottom: 16px;
}

.headerTitle {
  margin-bottom: 24px;
}

.productSelectedList {
  list-style: none;
  padding: 0;
}

.productSelectedList > li {
  width: 100%8;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 16px;
  margin-bottom: 1rem;
}

.cartDetails {
  display: flex;
  justify-content: end;
}
