hr {
  margin-bottom: 16px;
}

.headerTitle {
  margin-bottom: 24px;
}

.productSelectedList {
  list-style: none;
  padding: 0;
}

.productSelectedList > li {
  width: 100%8;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 16px;
  margin-bottom: 1rem;
}

.productImage {
  background-color: whitesmoke;
  width: 150px;
  height: 150px;
  border-radius: 16px;
}

.productDetail {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productQuantity {
  display: flex;
  gap: 8px;
}

.productQuantity > button {
  border-radius: 8px;
  border: 1px solid grey;
  width: 24px;
}

.productQuantity > input {
  text-align: center;
  width: 32px;
  border-radius: 8px;
}

.productPrice {
  text-align: center;
  margin-bottom: 16px;
}

.cartDetails {
  display: flex;
  justify-content: end;
}
