.productCardContainer {
  min-height: 350px;
  border: 1px solid grey;
  padding: 1rem;
  border-radius: 16px;
}

.productName {
  color: black;
  margin-bottom: 0.5rem;
  width: 0;
  min-width: 100%;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
}

.productImage {
  height: 200px;
  object-fit: contain;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 16px;
  margin-bottom: 0.5rem;
}

.productButton {
  margin: auto;
  cursor: pointer;

  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid gray;
}

.productButton:hover {
  background-color: white;
}
